* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
}

html {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

/*****************************
        Overall Styles
*****************************/

a {
    color: #D92AF0;
    text-decoration: none !important;
}

path {
    transition: all .3s ease-in-out;
}

nav {
    position: absolute;
    z-index: 10;
    padding-top: 50px;
    padding-left: 100px;
}

.logo {
    height: 70px;
}

.logo-mobile {
    display: none;
}

.wrapper {
    position: relative;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(30,30,30);
    background: -moz-linear-gradient(153deg, rgba(30,30,30,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(153deg, rgba(30,30,30,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(153deg, rgba(30,30,30,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e1e1e",endColorstr="#000000",GradientType=1);
    overflow: hidden; 
}

.heading {
    font-size: 2.6rem;
    font-weight: bold;
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
}


/*****************************
        Inputs styling
*****************************/

.inputs {
    display: flex;
    flex-direction: column;
}

.input-container {
    position: relative;
}

input:not(input[type=checkbox]) {
    color: #fff;
    font-size: 1rem;
    width: 480px;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 1rem;
    margin: 1.4rem 0;
    padding-left: 3.5rem;
    background: transparent;
    outline: none !important;
    transition: all .3s ease-in-out;
}

input:not(input[type=checkbox]):focus {
    border-color: #820DFE;
}

input:not(input[type=checkbox]).error {
    border-color: #FF8E8E;
}

input:not(input[type=checkbox]).error ~ .icon path {
    fill: #FF8E8E;
}

input[type=checkbox] {
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    opacity: 0;
}

input[type=checkbox]:checked ~ .custom-checkbox {
    border-color: #820DFE;
}

input[type=checkbox]:checked ~ .custom-checkbox span{
    display: block;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.checkbox {
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    z-index: 10;
}

.custom-checkbox span{
    position: absolute;
    display: none;
    left: 50%;
    top: calc(50% - 2px);
    width: 5px;
    height: 10px;
    border: solid #820DFE;
    border-width: 0 2px 2px 0;
    transition: all .3s ease-in-out;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.checkbox .custom-checkbox {
    transition: all .3s ease-in-out;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    display: block;
    border: 2px solid #fff;
}

.input-container .icon {
    position: absolute;
    top: 50%;
    margin-left: 30px;
    transform: translateY(-50%);
}

label {
    position: absolute;
    transform: translate(3.5rem, -50%) scale(1);
    top: 50%;
    transition: all .3s ease-in-out;
    padding: 0 .5rem;
    pointer-events: none;
}

/*****************************
        Floating labels
*****************************/

label.active {
    background: #111111;
    top: 0;
    transform: translate(3.5rem, 50%) scale(.9);
}

.input-container.active label{
    background: #111111;
    top: 0;
    color: #820DFE;
    transform: translate(3.5rem, 50%) scale(.9);
}

.input-container.active .icon path {
    fill: #820DFE;
}

.input-container.error label {
    color: #FF8E8E !important;
}

.input-container.error .icon path {
    fill: #FF8E8E !important;
}

.input-container.error input {
    border-color: #FF8E8E !important;
}

/*******************************************
        Bottom form elements styling
*******************************************/

.terms {
    font-size: .75rem;
    margin-left: 1rem;
}

.submit {
    transition: all .3s ease-in-out;
    position: relative;
    font-weight: 600;
    width: 330px;
    padding: .75rem;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    color: #ffff;
    align-self: center;
    overflow: hidden;
    z-index: 2;
    background-size: 200% auto;
    background-image: -moz-linear-gradient(to right, rgba(219,43,240,1) 0%, rgba(128,13,255,1) 70%);
    background-image: -webkit-linear-gradient(to right, rgba(219,43,240,1) 0%, rgba(128,13,255,1) 70%);
    background-image: linear-gradient(to right, rgba(219,43,240,1) 0%, rgba(128,13,255,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#db2bf0",endColorstr="#800dff",GradientType=1); 
}

.submit:hover {
    cursor: pointer;
    background-position: right center;
}

.login-p {
    text-align: center;
}

.error-container {
    font-size: .75rem;
    color: #FF8E8E;
}

/*****************************
       Background shapes
*****************************/

.shape {
    position: absolute;
}

.circle-1 {
    top: 18%;
    right: 35%;
}
.circle-2 {
    top: calc(50% - 123px);
    left: -123px;
}
.circle-3 {
    top: -130px;
    right: 10%;
}
.circle-4 {
    bottom: -20px;
    right: 24%;
}
.circle-5 {
    bottom: -400px;
    right: -350px;
}

.square {
    top: 21%;
    right: 20%;
}

.square-2 {
    bottom: -100px;
    left: 11%;
}

/*** Desktop ***/
@media screen and (max-width: 1550px) {
    html {
        font-size: 19px;
    }
    .shape {
        transform: scale(.9);
    }
    .circle-1 {
        right: 30%;
    }
    input:not(input[type="checkbox"]) {
        width: 350px;
    }
    .logo {
        height: 55px;
    }
}

/*** Laptop ***/
@media screen and (max-width: 1200px) {
    html {
        font-size: 18px;
    }
    .shape {
        transform: scale(.75);
    }
    .circle-1 {
        right: 20%;
    }
}

/*** Notebook ***/
@media screen and (max-width: 996px) {
    html {
        font-size: 17px;
    }
    .shape {
        transform: scale(.55);
    }
    .circle-1 {
        right: 10%;
    }
}

/*** Tablet ***/
@media screen and (max-width: 768px) {
    html {
        font-size: 16px;
    }

    nav {
        width: 100%;
        padding-top: 35px;
        padding-left: 0;
        display: flex;
        justify-content: center;
    }

    .logo {
        display: none;
    }

    .logo-mobile {
        height: 90px;
        display: block;
    }

    .circle {
        display: none;
    }

    .heading {
        font-size: 1.7rem;
        order: 1;
        margin-bottom: 20px;
    }

    form {
        padding-top: 150px;
    }

    .inputs {
        align-items: center;
        order: 2;
    }

    .login-p {
        margin-top: 1.5rem;
        font-size: .9rem;
        order: 3;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    input:not(input[type="checkbox"]) {
        border: none;
        border-bottom: 2px solid #EFEFEF;
        border-radius: 0;
        padding-left: 0;
        width: 290px;
        margin: 1rem 0;
    }

    .input-container .icon {
        display: none;
    }

    label {
        padding: 0;
        transform: translate(0, -50%) scale(1);
    }

    label.active {
        transform: translate(0, 20%) scale(.9);
    }

    .input-container.active label{
        background: transparent;
        transform: translate(0, 20%) scale(.9);
    }

    .submit {
        width: 290px;
    }

}

/*** Phone ***/
@media screen and (max-width: 576px) {
    nav .logo-mobile {
        transition: all .4s ease-in-out;
    }
    html {
        font-size: 15px;
    }
    input:not(input[type="checkbox"]) {
        border: none;
        border-bottom: 2px solid #fff;
        border-radius: 0;
        padding-left: 0;
        width: 260px;
        margin: 1rem 0;
    }

    .submit {
        width: 200px;
        border-radius: 5px;
    }
}

@media screen and (max-height: 630px) {
    nav .logo-mobile {
        height: 60px;
    }
}
